TableViewBinders.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
TableViewBinders.xcodeproj/project.xcworkspace/xcuserdata/kostasfilios.xcuserdatad/UserInterfaceState.xcuserstate
TableViewBinders.xcodeproj/xcuserdata/kostasfilios.xcuserdatad/xcschemes/xcschememanagement.plist
